body {
    background: rgb(100, 146, 100);
    width: 100%;
}

#title {
    text-align: center;
    background-color: rgb(67, 114, 67);
    width: 90%;
    margin: auto;
    padding: 1px;
    
    
}

h1 {
    font-size: 50px;
}

.row1 {
    float: left;
    border: 1px solid black;
    padding: 40px;
    margin-left: 40px;
    text-align: center;
    
    

}



.mainChat {
    text-align: center;
    margin-top: 3px;
    margin-bottom: 3px;

}

.talkField {
    height: 150px;
    width: 40%;
    background-color: white;
    /* text-align: left; */
    margin: auto;
    overflow:auto;
    /* box-align: center; */

    
}

.self {
    /* float: right; */
    text-align: right;

}


.writeField {
    width: 40%;
    background-color: white;
    text-align: center;
    margin-right: 25px;
    
}
#mainGame {
    text-align: center;
    margin-left: 130px;

}

.row1 {
    border: 1px solid black;
     
    
    min-height: 200px;
   

}

.submission {
    text-align: center;
}

button {
    text-align: center;
}

.nameInput {
    text-align: center;
}

#playerWaiter {
    font-size: 15px;
    text-align: center;
}

.weclomeText {
    font-size: 30px;
    color: white;
}

h3 {
    font-size: 18px;
    margin-bottom: 200px;
}



.btns1 {
    margin-left: 150px;
}

.btns2 {
    margin-left: 230px;    
}

p {
    margin-bottom: 200px; 
    /* margin-left: 120px; */
}
